<!DOCTYPE html>
<html>


<head>
	<title>RoboRits</title>
		 <link href="../static/css/home.css" rel="stylesheet">
</head>

<body>
	
		
	
<div class="background">
	<body style="background-color:#498FDC">
	<h1> Hey,Its RoboRits</h1>
	<h3> Man lies but machine doesn't </h3>


<img src="{{url_for('static',filename = 'frnt.gif')}}" alt="Italian Trulli">


<!--<div class="nav">-->
<!--	<a class="hm" href="index.html">Let's Get started</a>-->
<!--</div>-->

	<div class="nav">
<form action="/form_login" method="post">
	<a class="hm"> <input type="submit" value="Let's Get Started"></a>
</form>
	</div>

</div>

</body>

</html>